<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styles/styles.css">
<head>
    <title th:text="${reviewModel.title}">Review</title>
</head>
<body>
    <header>
        <h1 th:text="${reviewModel.reviewCategory}">Review Category</h1>
        <h2 th:text="${reviewModel.title}">Review</h2>
        <img th:src="${reviewModel.imageURL}"/>
    </header>

    <main>
        <ul>
            <p><a href="/reviews">Reviews</a></p>
            <li th:text="${reviewModel.title}"></li>
        </ul>
        <p th:text="${reviewModel.content}"></p>
        <p th:text="${reviewModel.date}">Date</p>
    </main>

    <footer>
        <small>&copy Trey Browder 2021</small>
    </footer>

</body>
</html>