<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styles/styles.css">
<head>
    <title>This is a List of All Available Reviews</title>
</head>
<body>
    <div class="content">
    <header>
        <h1>All Reviews</h1>
    </header>

    <main>
        <ul>
            <li th:each="review: ${reviewsModel}"><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a></li>
        </ul>
    </main>

    <footer>
        <small>&copy Trey Browder 2021</small>
    </footer>
    </div>
</body>
</html>